* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

ul li {
    list-style: none;
    display: inline;
}

body {
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
}

main {
    margin-top: 100px;
}

#park-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}