@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour+Convergence&display=swap');

body {
  background-color: rgb(200, 200, 200);
  font-family: Arial, Verdana, sans-serif;
}
h1 {
  font-family: "Sixtyfour Convergence", serif;
  color: rgb(255, 255, 255);
}
h2 {
  color: rgb(40, 40, 40);
  text-decoration: underline;
}
header {
  color: rgb(255, 255, 255); 
  background-color: rgb(45, 45, 45);
  border-style: solid; 
  border-color: rgb(0, 0, 0);
  margin: 10px;
  padding: 5px;
  text-align: center;
}
nav ul li  {
  list-style-type: none;
  padding: 0;
  display: inline;
  margin-right: 10px;
}
nav a {
  color : rgb(255, 255, 255)
}
section {
  background-color: rgb(150, 150, 150);
  border-style: groove;
  border-color : rgb(255, 255, 255);
  margin: 5px;
  text-indent: 10px;
}
a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}
.quote {
  background-color: rgb(255, 215, 0);
  border-style: solid;
  border-color: rgb(0, 0, 0);
  margin: 5px;
  padding: 5px;
  }
  .tokyo {
  margin: 0 auto;
  display: block;
  width: 95%;
  border-style: groove;
  }
  .drfit {
  margin: 0 auto;
  display: block;
  width: 80%;
  }
  .map {
  margin: 0 auto;
  display: block;
  width: 100%;
  }